<ng-container *ngIf="!logged">
    <div>
      <div><input type="text" [(ngModel)]="login" /></div>
      <div><input type="text" [(ngModel)]="password" /></div>
      <div><button (click)="auth()">Log in</button></div>
      <button (click)="auth()"> Registration </button>
    </div>
  </ng-container>

<div class = "alert alert-success">
  <ng-container *ngIf="logged">

      <ng-container>
        <h1>Create new post</h1>
        <input type="text" [(ngModel)]="newtitle" placeholder="title" />
        <input type="text" [(ngModel)]="newbody" placeholder="main text"/>
        <span style="color: green" (click)="newPost()"> Создать </span>
      </ng-container>
      <br/>
      <ng-container *ngIf="!loading">
        Loading...
      </ng-container>
      <br/><br/><br/>
      <h2>Posts</h2>
      <ng-container *ngIf="loading">
        <div>
          <div *ngFor="let c of posts" class="data">
            Owner of the post: {{c.created_by}}
            <br/>
            <ng-container *ngIf = "c.id == editId">
              <input type="text" [(ngModel)]="c.title"/>
              <br/>
              <input type="text" [(ngModel)]="c.body" />
              <br/>
            </ng-container>
            <ng-container *ngIf = "c.id != editId">
              {{c.title}}
              <br/>
              {{c.body}}
              <br/>
            </ng-container>

            <span style="color: blue" (click)="makeEditable(c.id)"> Изменить</span>
            <span style="color: green" (click)="putDetailPost(c)"> Сохранить </span>
            <span style="color: red" (click)="deleteItem(c)"> Удалить</span>
          </div>
        </div>
      </ng-container>

      <br/>

      <div>
        <button (click)="logout()">Log out</button>
      </div>

  </ng-container>
</div>
